<div class="row">
  <div class="blank small-4 column">blank</div>
  <div class="small-4 column">
    <h3>Add Tag to "<%= @cardtag.card.text %>"</h3>
    <%= form_for([@cardtag.card, @cardtag]) do |f| %>
      <% @available_tags.each do |tag| %>
        <%= check_box_tag :tag, tag.id %>
        <%= f.label :tag, tag.label %>
      <% end %>
      <%= f.submit%>
    <% end %>
  </div>
  <div class="blank small-4 column">blank</div>
</div>
