<div class="row">
  <div class="blank small-4 column">blank</div>
  <div class="small-4 column">
    <h3>Create Tag</h3>
    <%= form_for([@cardtag.card, @cardtag]) do |f| %>
      <%= @available_tags.each do |tag| %>
        <%= f.label :tag, tag.label %>
        <%= check_box_tag(:tag, tag.id)%>
      <% end %>
      <div><%= f.submit%></div>
    <% end %>
  </div>
  <div class="blank small-4 column">blank</div>
</div>
