<%= form_for(@board) do |f| %>
  <%= f.text_field :title, placeholder: "Title" %>
  <div>
    <%= f.radio_button :category, "calendar" %>
    <%= f.label :category, "Calendar" %>
    <%= f.radio_button :category, "kanban"  %>
    <%= f.label :category, "Kanban"  %>
    <%= f.radio_button :category, "custom"  %>
    <%= f.label :category, "Custom"  %>
  </div>
  <%= f.submit%>
<% end %>
